:root {
    --light-blue : #bed5e6;
    --light-blue2: #92c7ed;
    --black: #000;
    --navy-green : #264653;
    --navy-green2: #264653;
    --white: #fff;
    --white2: #ccc;
    --white3: #f7f7f7;
    --gray: #49454f;
    --red: red;
    --green: green;
    --font-family: 'Arial', sans-serif;
}